* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #eef4f6;
}

@font-face {
    font-family: "Inconsolatazi";
    src: local("Inconsolatazi"),
        url("fonts/Inconsolatazi.otf") format("opentype");

}

@font-face {
    font-family: "InconsolataziBold";
    src: local("InconsolataziBold"),
        url("fonts/InconsolataziBold.otf") format("opentype");

}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    position: relative;
}

form {
    display: flex;
    top: 100px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    background-color: inherit;
    width: 450px;
    height: 600px;
    transition-property: left, position, translate;
    transition-duration: 1s;
}

.form-group:first-child label {

    font-size: 30px;
}

.form-group,
.action-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}


.action-group {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action-group button {
    width: 60px;
    height: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: inherit;
    box-shadow: 5px 5px 5px 0px rgb(208, 208, 208), -5px -5px 5px 0px rgb(255, 255, 255);
    transition-property: translate;
    transition-duration: 0.3s;
    cursor: pointer;
    outline: none;
}

.button_press {

    translate: 0px 5px;
}

.action-group button img {
    width: 70%;
    height: 70%;
}

#select_algo {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#select_algo label {
    font-size: 18px;
}

#select_algo>label {
    font-size: 20px;
}

#select_algo div {
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#select_algo div input {
    width: 20px;
    height: 20px;
    margin: 10px;
}

#select_algo label:first-child {
    align-self: center;
}

#select_algo input {}

form textarea,
form input {
    width: 90%;
    resize: none;
    border: none;
    background-color: inherit;
    border-radius: 50px;
    box-shadow: inset -10px 7px 5px 2px rgb(195, 195, 195), inset -2px -7px 5px 2px rgb(255, 255, 255);
    outline: none;
    color: rgb(139, 139, 139);
    padding: 20px;
    font-family: 'Inconsolatazi';
    transition-property: font-size, translate;
    transition-duration: 0.3s;
}

form input {

    height: 100%;
    font-size: 23px;
}

form input:focus {
    font-size: 27px;
}

form textarea {
    font-size: 20px;
    padding: 25px;
}

form textarea:focus {
    font-size: 25px;
}

form label {
    font-family: 'InconsolataziBold';
    font-weight: bold;
    color: rgb(140, 140, 140);
}